# Install Libraries

In [7]:
from sklearn.datasets import load_iris
import pandas as pd

In [26]:
from sklearn.model_selection import train_test_split

In [33]:
import numpy as np

# Load Data in iris to make object

In [2]:
iris =load_iris()

In [10]:
pd.DataFrame(iris.data)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [14]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [15]:
pd.DataFrame(iris.target)

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [16]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

# Saving all data set in data variable for future use 
## Preprocessing

In [23]:
data=pd.DataFrame(iris.data,iris.target,columns=iris.feature_names)

# Splitting data into X and Y variable

In [24]:
X= iris.data
Y= iris.target

In [25]:
feature_names=iris.feature_names
target_names=iris.target_names

# Train and Test Split of Data

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [29]:
len(X_train)

120

In [34]:
np.shape(X_train)

(120, 4)

In [36]:
l=[np.shape(X_train),np.shape(X_test)]
l

[(120, 4), (30, 4)]

# Training the Model

In [41]:
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn import metrics

In [42]:
model= knn(n_neighbors=3) # three class (0,1,2) there for neighbors=3
model.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=3)

# Predicting X-test

In [47]:
Y_predict=model.predict(X_test)
Y_predict

array([2, 0, 2, 2, 1, 1, 2, 1, 0, 0, 1, 0, 0, 2, 2, 0, 2, 0, 1, 2, 0, 0,
       1, 0, 0, 2, 2, 2, 1, 2])

In [45]:
Y_test

array([1, 0, 2, 2, 2, 1, 2, 1, 0, 0, 1, 0, 0, 2, 2, 0, 2, 0, 1, 2, 0, 0,
       1, 0, 0, 2, 2, 2, 1, 2])

# Checking Accuracy

In [50]:
metrics.accuracy_score(Y_test,Y_predict)

0.9333333333333333