In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
movie = pd.read_csv("E:/Machine Learning CSV/Movie_classification.csv", header=0)

In [3]:
movie.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [4]:
movie.describe()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,494.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,92.270471,77.273557,0.445305,34911.144022,142.074901,8.014002,8.185613,8.019664,8.190514,7.810870,449860.715415,157.391498,260.832095,39.181818,545.043478,45057.707510,0.545455
std,172.030902,13.720706,0.115878,3903.038232,28.148861,1.054266,1.054290,1.059899,1.049601,0.659699,68917.763145,31.295161,104.779133,12.513697,106.332889,18364.351764,0.498422
min,20.126400,55.920000,0.129000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,212912.000000,0.000000,201.152000,3.000000,333.000000,10000.000000,0.000000
25%,21.640900,65.380000,0.376000,32693.952500,118.525000,7.316250,7.503750,7.296250,7.507500,7.200000,409128.000000,132.300000,223.796000,28.000000,465.000000,34050.000000,0.000000
50%,25.130200,74.380000,0.462000,34488.217500,151.000000,8.307500,8.495000,8.312500,8.465000,7.960000,462460.000000,160.000000,254.400000,39.000000,535.500000,42400.000000,1.000000
75%,93.541650,91.200000,0.551000,36793.542500,167.575000,8.865000,9.030000,8.883750,9.030000,8.260000,500247.500000,181.890000,283.416000,50.000000,614.750000,50000.000000,1.000000
max,1799.524000,110.480000,0.615000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,217.520000,2022.400000,60.000000,868.000000,100000.000000,1.000000

In [5]:
movie['Time_taken'].mean()

157.3914979757085

In [6]:
movie['Time_taken'].fillna(value=movie.Time_taken.mean(),inplace=True)

In [7]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

In [8]:
movie = pd.get_dummies(movie,columns=['3D_available','Genre'],drop_first=True)

In [9]:
movie.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,109.60,223.840,23,494,48000,1,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,146.64,243.456,42,462,43200,0,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,147.88,2022.400,38,458,69400,1,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,185.36,225.344,45,472,66800,1,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,176.48,225.792,55,395,72400,1,0,0,1,0

In [10]:
y= movie['Start_Tech_Oscar']

In [11]:
x= movie.drop('Start_Tech_Oscar',axis=1)

In [12]:
x.shape

(506, 20)

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
from sklearn import tree

In [15]:
clf_tree = tree.DecisionTreeClassifier(max_depth=5)
clf_tree.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=5)

In [16]:
Y_test_predict = clf_tree.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix,r2_score,accuracy_score
confusion_matrix(Y_test,Y_test_predict)

array([[28, 14],
       [39, 21]], dtype=int64)

In [18]:
r2_score(Y_test,Y_test_predict)

-1.1452380952380943

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [20]:
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.fit_transform(X_test)

In [21]:
from sklearn import svm
svm_clf = svm.SVC(kernel='linear',C=0.01)

In [22]:
svm_clf.fit(X_train_sc,Y_train)

SVC(C=0.01, kernel='linear')

In [23]:
Y_predict = svm_clf.predict(X_test_sc)

In [24]:
confusion_matrix(Y_test,Y_predict)

array([[10, 32],
       [ 6, 54]], dtype=int64)

In [25]:
accuracy_score(Y_test,Y_predict)

0.6274509803921569

## Grid Search

In [26]:
from sklearn.model_selection import GridSearchCV

In [27]:
grid_svm_clf = svm.SVC(kernel = 'poly')

In [28]:
param = {'C' : [0.05,0.1,1,10,20,50,100,353,501]}

In [29]:
grid_SVM = GridSearchCV(grid_svm_clf,param,n_jobs=-1,scoring='accuracy',cv=10)

In [30]:
grid_SVM.fit(X_train_sc,Y_train)

GridSearchCV(cv=10, estimator=SVC(kernel='poly'), n_jobs=-1,
             param_grid={'C': [0.05, 0.1, 1, 10, 20, 50, 100, 353, 501]},
             scoring='accuracy')

In [31]:
grid_SVM.best_params_

{'C': 100}

In [32]:
svm_estimator = grid_SVM.best_estimator_

In [33]:
Y_svm_predict = svm_estimator.predict(X_test_sc)

In [34]:
accuracy_score(Y_test,Y_svm_predict)

0.6568627450980392

In [35]:
clf_svm_poly = svm.SVC(kernel='poly',degree=5,C=40)

In [36]:
clf_svm_poly.fit(X_train_sc,Y_train)

SVC(C=40, degree=5, kernel='poly')

In [37]:
Y_poly_svm = clf_svm_poly.predict(X_test_sc)

In [38]:
accuracy_score(Y_test,Y_poly_svm)

0.6274509803921569