In [1]:
# Reg. No. 11904206
D1 = 11
D2 = 6
print(type(D1-D2))
print(type(D1/D2))
print(type(D1%D2))
print(type(D1**D2))
print(type(D1**D2*2))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
marks = int(input("Enter Marks :"))
if(marks>=75):print("First")
elif(marks>=70 and marks<75):print("Upper Second")
elif(marks>=60 and marks<70):print("Second")
elif(marks>=50 and marks<60):print("Third")
elif(marks>=45 and marks<50):print("F1 Supp")
elif(marks>=40 and marks<45):print("F2")
elif(marks<40):print("F3")

Enter Marks :56
Third

In [3]:
a,b,c=63,424,98
def maximum(a,b,c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    elif(c>a and c>b):
        return c
    else: return "same no. given"
maximum(a,b,c)

424

In [4]:
import numpy as np
#Reg. No. 11904206
print(np.sqrt(4206))

64.85368146836385

In [5]:
#reg = 11904206
a = [1,1,9,0,4,2,0,6]
a.append(17)
print(a)

[1, 1, 9, 0, 4, 2, 0, 6, 17]

In [6]:
#reg = 11904206
a = [1,1,9,0,4,2,0,6]
a.append(17)
print(a)

#<------------------------##-------------------->

# a.insert(8,17)
# print(a)

[1, 1, 9, 0, 4, 2, 0, 6, 17]

In [7]:
a.insert(1,9)
print(a)

[1, 9, 1, 9, 0, 4, 2, 0, 6, 17]

In [8]:
a.insert(1-len(a),9)
print(a)

[1, 9, 9, 1, 9, 0, 4, 2, 0, 6, 17]

In [9]:
del(a[3])
del(a[0])
print(a)

# <-------------##------------>

# first = a[0]
# fourth = a[3]
# a.remove(first)
# a.remove(fourth)
# print(a)

[9, 9, 9, 0, 4, 2, 0, 6, 17]

In [11]:
b = []
for i in a:
    b.append(i*i)
print(b)

#<--------------------------##---------------------->

#c = np.square(a)
#print(c)

[81, 81, 81, 0, 16, 4, 0, 36, 289]

In [12]:
add = sum(a)
print(add)

56

In [13]:
add2=0
for i in a:
    add2 = add2 + i
print(add2)

56

In [14]:
s  =  "ayush raja"

In [15]:
name  = list(s)
name

['a', 'y', 'u', 's', 'h', ' ', 'r', 'a', 'j', 'a']

In [16]:
s="ayush raja"
list1=s.split(" ") 
for i in range(len(list1)): 
   list1[i]=list1[i].capitalize() 
s=" ".join(list1) 
print(s)

Ayush Raja

In [17]:
n = np.random.rand(10)
large,small = 0,0
for i in n:
    if(i>=0.5):
        large = large+1
    else:
        small = small+1
print(n)
print(large)
print(small)

[0.1244998  0.38015354 0.66816925 0.77271987 0.95008504 0.1932077
 0.10915509 0.69087663 0.10358167 0.50091271]
5
5